@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
}

:root {
  --primary: oklch(0.6945 0.0698 167.49);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.6945 0.0698 167.49);
  --primary-foreground: oklch(0.21 0.034 264.665);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  text-shadow:
    -1px -1px 0 #161815,
     1px -1px 0 #161815,
    -1px  1px 0 #161815,
     1px  1px 0 #161815;
}

#intro-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}
